{% extends "base.html" %}
{% load staticfiles %}
{% block layout %}

{% block content_wrapper %}
    {% block title %}
    <div class="container header-title">
        <h1>{% block headertext %}Заголовок{% endblock %}</h1>
        <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li><a href="#">Library</a></li>
            <li class="active">Data</li>
        </ol>
    </div>
    {% endblock %}
    <div class="container">
        {% block content %}{% endblock %}
    </div>
    {# {% block breadcrumbs %} #}
    {# <div class="container breadcrumbs"> #}
        {# <ol class="breadcrumb"> #}
            {# <li> <a href="/" itemprop="url">Главная</a></li> #}
            {# {% block breadcrumbs_title %}{% endblock %} #}
        {# </ol> #}
    {# </div> #}
    {# {% endblock %} #}
    <div class="container">
        <div class="row">
            <div id="grid-cont">
                <section class="grid_outer chapter">
                    {# {% block header %} #}
                        {# <div class="page-header action"> #}
                            {# nrcn d ujkjdt #}
                        {# </div> #}
                    {# {% endblock %} #} {# {% include "partials/alert_messages.html" %} #} {# {% block subnavigation %}{% endblock %} #}
                    <div class="content">
                        {% block subheader %}{% endblock subheader %} {# Div exists for AJAX updates to entire content section #}
                        <div id="content_inner">
                            {# {% include 'partials/message.html' %} #}
                            <div class="clearfix"></div>
                            {# {% block content %} #}
                            {# {% endblock %} #}
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    {% block modal %}{% endblock %}
    {% include 'partials/contact_form.html' %}
    {% endblock %}
{% endblock %}

{% block extrascripts %}
{{ block.super }}
{% endblock %}
